<tbody>
<div class="body_top">

  <h2 class="top_heqder">ようこそ <strong class="top_strong">Bookers</strong> へ！</h2>


  <p class="top_body">
    <strong class="topbody_st6rong">Bookers</strong>
    では、さまざまな書籍に関するあなたの意見や
    <p class="top_body2"> 印象を共有し交換することができます</p>
  </p>

  <span class="top_books"><%= link_to "Start", books_path,class:"top-bookers" %></span>
</div>
</tbody>