/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
}

.body_top {
  margin: 33px;
}

.top_header {
  font-size: 18px;
}

.top_strong {
  font-weight: bold;
}

.top_body {
  margin: 33px;
}

.top_body2 {
  margin-bottom: 33px;
  padding-left: 33px;
}

.top_books {
  margin-left: 33px;
  font-size: 13px;
  text-decoration: none;
  color: white ;
}

.top_books:hover {
  background-color: #000000;
  color: #ffffff;
}

.top-bookers:hover {
  color: #ffffff;
}

.top-bookers {
  color: #808080;
}

.index_header {
  margin: 33px;
}

table {
  width: 742px;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  font-size: 13px;
}

.title {
  width: 192px;
  padding-bottom: 5px;
}

.body {
  width: 400px;
  padding-bottom: 5px;
}

td {
  padding: 1px 5px 7px;
  font-size: 13px;
}

.index-show:hover {
  background-color: #000000;
  color: #ffffff;
}

.index-show {
  color: #000000;
}

.index-edit:hover {
  background-color: #000000;
  color: #ffffff;
}

.index-edit {
  color: #000000;
}

.index-destroy:hover {
  background-color: #000000;
  color: #ffffff;
}

.index-destroy {
  color: #000000;
}

.index_body {
  margin: 33px;
}

body {
  margin: 33px;
}

p {
  font-size: 13px;
}